@charset "utf-8";
@font-face {
    font-family: MainText;
    src: url("FONT/BTitrBd.ttf");
}
* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: MainText;
}

#darktheme {
    background-color: rgb(14, 14, 14);
    color: rgb(245, 245, 245);
}
#lighttheme {
    color: rgb(14, 14, 14);
    background-color: rgb(245, 245, 245);
}

.MobileMenu {
    display: none;
}

.siteMenu {
    width: 100%;
    height: 78px;
    backdrop-filter: blur(15px);
    font-size: 28px;
    position: fixed;
    top: 0px;
}
.siteMenu div {
    align-items: center;
    height: 72px;
    display: flex;
    justify-content: center;
}
.siteMenu div a {
    padding: 28px;
    text-decoration: none;
    color: #000;
    font-weight: bolder;
}
.siteMenu div a div {
    font-size: 22px;
}

.bodyOfSite {
    background: none;
}
.PartA-HeaderBoard
{
    width: 100%;
    height: 750px;
    margin-top: 68px;
    display: flex;
    background-color: rgb(221, 221, 221);
}
.PartA-Texts {
    float: right;
    width: 60%;
    text-align: center;
}
.PartA-ImageTitle {
    width: 40%;
    float: left;
    left: 0px;
    height: auto;
}
.PartA-TheWhiteAreas {
    background-color: rgb(243, 243, 243);
    width: 20%;
    height: 130px;
    margin: auto;
    margin-top: 3%;
    border-radius: 15px;
}
.PartA-TheWhiteAreas p {
    color: #000;
}

@media screen and (max-width: 900px) {

    .MobileMenu {
        display: block;
        width: 95px;
        height: 75px;
        background-color: rgba(31, 31, 31, 0.5);
        backdrop-filter: blur(8px);
        position: fixed;
        top: 0px;
        right: 0px;
        text-align: center;
        border-radius: 12px;
        box-shadow: 2cap 2px 20px #333333;
        cursor: pointer;
    }
    .MobileMenu span {
        font-size: 35px;
    }

    .siteMenu {
        display: none;
    }

    .bodyOfSite {
        background: none;
    }
    .PartA-HeaderBoard {
        width: 100%;
        height: 2%;
        display: block;
    }
    .PartA-Texts {
        width: 100%;
        text-align: center;
        background-image: url("IMG/photo_2025-02-24_14-15-38-Mobile.jpg");
        background-repeat: none;
        background-size: contain;
    }
    .PartA-ImageTitle {
        display: none;
    }
    .PartA-TheWhiteAreas {
        background-color: rgb(201, 201, 201);
        color: #000;
        width: 20%;
        height: 130px;
        margin: auto;
        margin-top: 3%;
        border-radius: 15px;
    }
}