@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}
.mainbar {
    width: 100%;
    padding: 1%;
    margin-top: 75px;
    background-color: rgb(24, 24, 24);
}

.shop-main {
    width: 260px;
    height: 320px;
    border-radius: 12px;
    background-color: rgb(75, 75, 75);
    padding: 5px;
}

.shop-item-image {
    width: 100%;
    height: 55%;
}

.shop-item-desc {
    width: 100%;
    height: 100px;
}

.shop-item-link {
    bottom: 0px;
    text-align: center;
}