@charset "utf-8";
@font-face {
    font-family: MainText;
    src: url("../FONT/BTitrBd.ttf");
}
body {
    background-color: rgb(218, 218, 218);
}
.MainBar {
    width: 100%;
    text-align: center;
}
.Title {
    background-color: rgb(25, 116, 221);
    font-size: 30px;
}
.links {
    background-color: rgb(194, 32, 32);
}
.linksTable tr td {
    padding: 10%;
    font-size: 30px;
}
.linksTable tr td a {
    padding: 10%;
    font-size: 30px;
}
.end {
    background-color: rgb(89, 73, 236);    
}